 <% if question.bookmarked_by?(current_end_user) %>
      <%= link_to question_bookmarks_path(question), method: :delete, remote: true do %>
        <P><%= question.bookmarks.count %><%= image_tag "bookmark-check-fill.svg", size: "20x20" %></P>
      <% end %>
  <% else %>
      <%= link_to question_bookmarks_path(question), method: :post, remote: true do %>
        <p><%= question.bookmarks.count %><%= image_tag "bookmark.svg", size: "20x20" %></p>
      <% end %>
  <% end %>