<div class="container">
  <header class="jumbotron my-4 bg-dark">
    <h1 class="display-3 text-light">Seach Results </h1>
  </header>

  <div class="row text-center">

     <% if @range == "質問" %>
      <% @questions.each do |question| %>
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div class="card-body">
              <h4 class="card-title"><%= question.title %></h4>
              <p class="card-text"><%= question.body %></p>
              <% question.tags.each do |tag| %>
                <button class="btn btn-info btn-sm mb-1"><%= tag.name %></button>
              <% end %>
            </div>
            <div class="card-footer">
              <%= link_to '詳細をみる', question_path(question), method: :get %>
            </div>
          </div>
        </div>
      <% end %>

     <% else %>
      <% @posts.each do |post| %>
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div class="card-body">
              <h4 class="card-title"><%= post.title %></h4>
              <p class="card-text"><%= post.body %></p>
              <% post.tags.each do |tag| %>
                <button class="btn btn-info btn-sm mb-1"><%= tag.name %></button>
              <% end %>
            </div>
            <div class="card-footer">
              <%= link_to '詳細をみる', post_path(post), method: :get %>
            </div>
          </div>
        </div>
       <% end %>
      <% end %>

  </div>

</div>