<h1>記事編集</h1>
<span>現在ログイン中のユーザー：<%= current_end_user.name %></span>
<%= form_for(@post, url: post_path(@post)) do |f| %>
    <div>
        <%= f.label :タイトル %><br>
        <%= f.text_field :title, autofocus: true, :placeholder =>"#{@post.title}" %>
    </div>
    <div>
        <%= f.label :質問内容 %><br>
        <%= f.text_area :body, :placeholder =>"#{@post.body}" %>
    </div>
     <div class="field">
      <% @tags.each do |t| %>
        <%= f.label t.name %>
        <%= check_box_tag "post[tag_ids][]", t.id, @post.tags.include?(t) %>
        <br/>
      <% end %>
     </div>
    <div><%= f.submit "更新する" %></div>
<% end %>