<!DOCTYPE html>
<html>
  <head>
    <title>Plantsaviour</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <main class="row bg-light">
      <% if end_user_signed_in? %>
        <div class="col-1 bg-light">
         <%= render 'layouts/sidebar' %>
        </div>
        <div class="col-10">
          <%= yield %>
        </div>
        <div class="col-1 bg-light">
          <%= render 'layouts/totop' %>
        </div>
      <% else %>
        <div class="col-11">
          <%= yield %>
        </div>
        <div class="col-1 bg-light">
          <%= render 'layouts/totop' %>
        </div>
     <% end %>

    </main>

   <%= render 'layouts/footer' %>
  </body>
</html>
